@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1140.9px;
  background: linear-gradient(45deg, greenyellow, dodgerblue);
  font-family: "Sansita Swashed", italic;
}

h1{
	font-family: 'Rock Salt' , cursive;
}

.center input:hover [type="submit"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
		background-position: center;
		background-size: cover;
}


.navbar{
	width: 100%;
	height: 15vh;
	margin-top:1%;
	display: flex;
	align-items: right;
}

.logo{
	width: 100px;
}

nav{
	flex: 1;
	padding-left: 60px;
}

nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}

nav ul li a{
	text-decoration:none;
	color: black;
	font-size: 20px;
	font-family: Georgia;
	font-weight: bold;
	
}

nav ul li a:hover {
  background-color: #ddd;
  color: black;
}
